<!DOCTYPE html>
<!--
# Amy Shrestha, Bogdan Sotnikov, Haowen Xiao
# Software Developers
# SoftDev
# K15 - assemble
# 2025-10-01
# time spent: 2.0
 -->

<html>

  <head>
    <title> {{ title }} </title>
  </head>

  <body>
    <h1>Occupation Generator</h1>
    <h2>Random Item: <a href="{{ link1 }}">{{ job1 }}</a>, {{ rate1 }}</h2>
    <p>Team Name: Software Developers</p>
    <p>Roster: Amy Shrestha, Bogdan Sotnikov, Haowen Xiao</p>
    <br>
    <h2>Occupations Table:</h2>
    <table>
    {% for key, value in dictionary.items() %}
     <tr>
       <td>{{ key|e }}</td>
       <td>{{ value.percentage|e }}</td>
       <td><a href="{{ value.link }}">{{ value.link }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </body>

</html>
