<!DOCTYPE html>
<!-- 
    Bogdan Sotnikov, Amy Shrestha, Haowen Xiao
    Software Developers
    October 2025
 -->

<html>

  <head>
    <title> RESPONSE </title>
  </head>

  <body>
    <h1>Team SOFTWARE DEVELOPERS</h1>
    <h1>Roster: Bogdan Sotnikov, Haowen Xiao, Amy Shrestha</h1>
    </br>
    <h2>USERNAME: {{username}}</h2>
    <p>Hello, there, {{username}}, we used {{requestMethod}} to get your response to this page.</p>
    <p>The difference between GET and POST is...</p>
  </body>

</html>

