body {
  font-family: Arial;
  background-color: dimgrey;
  color: black;
}

.header {
  background-color: #bebebe;
  color: white;
  text-align: center;
  line-height: 3px;
  display: grid;
}

.middle {
  background-color: #767676;
  padding: 2px;
  padding-right: 10px;
}

nav, h4 {
  height: 100%;
  position: fixed;
  overflow: visible;
  padding-left: 10px;
}

nav {
  color: black;
}

h4 {
  color: lightgrey;
}

main, p {
  margin-left: 180px;
}

main {
  line-height:
}

.feet {
  position: fixed;
  width: auto;
  left: 8px;
  right: 8px;
  background-color: #565656;
  text-align: right;
  color: grey;
  padding: 2px;
  overflow: hidden;
  line-height: 35px;
}
